/* hamburger__menu */
/* WEB FONT(typography) */
/* Text boxes */
/* Buttons */
/* Check box */
/* Combo box */

/* ==== WEB FONTSYSTEM(typography) ==== */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900|Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {font-family: 'Nunito Sans','Prompt','Gothic A1', sans-serif;}

@keyframes sample-ani { 
    0% {transform: rotate(0);} 
    100% {transform: rotate(360deg);}
}
/*========= hamburger__menu =========*/
.hamburger__menu {     
    width: 20px;
    height: 20px;
    overflow: hidden;
    padding: 3px;
}
.hamburger__menu.active {
    transform-origin: 50% 50%;
     animation: sample-ani .5s ease-in-out;
}
.hamburger__menu .menu:nth-child(1){
    display: inline-block;
    width: 10px;
    height: 4px;
    margin: 4px 0 0 0; 
    background: #333;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.hamburger__menu .menu:nth-child(2){
    content: ''; 
    display: inline-block; 
    width: 20px; 
    height: 4px; 
    margin: 5px 0 0 0; 
    background: #333;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.hamburger__menu:hover .menu:nth-child(1) {
    transform: translate3d(10px, 4px, 0);
    -webkit-transform: translate3d(10px, 4px, 0);
    -moz-transform: translate3d(10px, 4px, 0);
    -ms-transform: translate3d(10px, 4px, 0);
    -o-transform: translate3d(10px, 4px, 0);
}
.hamburger__menu:hover .menu:nth-child(2){
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    -o-transform: translate3d(0, -5px, 0);
}
.hamburger__menu .menu.active {
   
}
.hamburger__menu .menu:nth-child(1).active {
        width: 20px;
        height: 1px;
        background-color: #B32225;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        -webkit-transform: rotate(-45deg)translate3d(-4px, 4px, 0);
        -moz-transform: rotate(-45deg)translate3d(-4px, 4px, 0);
        -ms-transform: rotate(-45deg)translate3d(-4px, 4px, 0);
        -o-transform: rotate(-45deg)translate3d(-4px, 4px, 0);
        transform: rotate(-45deg)translate3d(-4px, 4px, 0);
}

.hamburger__menu .menu:nth-child(2).active {
    width: 20px;
    height: 1px;
    margin: 0;
    background-color: #B32225;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center; 
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-transform: rotate(45deg)translate3d( 3px, 3px, 0);
    -moz-transform: rotate(45deg)translate3d( 3px, 3px, 0);
    -ms-transform: rotate(45deg)translate3d( 3px, 3px, 0);
    -o-transform: rotate(45deg)translate3d( 3px, 3px, 0);
    transform: rotate(45deg)translate3d( 3px, 3px, 0);
}
/*========= hamburger__menu 끝=========*/

/**========= font-size SYSTEM ========= */
html {font-size: 10px;}
p,li,td,th,strong { /*본문글씨 기본 크기 16px*/
  font-size: 1.6rem;
  font-weight: normal;
  vertical-align: top;
  letter-spacing: -0.025em;
}
p,td {line-height: 1.6;}
/**========= font-size SYSTEM 끝========= */

/* ==== Text boxes ==== */
.input-field {position: relative;}
.input-field > label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    cursor: text;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    text-align: initial;
    
    -webkit-transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    
    -moz-transform: translateY(14px);
    -ms-transform: translateY(14px);
    -o-transform: translateY(14px);
    -webkit-transform: translateY(14px);
    transform: translateY(14px);

}
.name:focus + label {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    color: #ccc;
    -webkit-transform: translateY(-2px) scale(0.8);
    -moz-transform: translateY(-2px) scale(0.8);
    -ms-transform: translateY(-2px) scale(0.8);
    -o-transform: translateY(-2px) scale(0.8);
    transform: translateY(-2px) scale(0.8);
}

.input-field .name {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
.name:focus {
    border-bottom: 1px solid #333;
}
/* ==== Text boxes 끝==== */

/* ==== Buttons==== */
.btn-field {margin-bottom: 10px;}
[class*="btn"]{
    width: 100%;
    -webkit-box-sizing: border-box;
    outline: none;
    border-radius: 0.2em;
    border: 0;
}
/* ==== Buttons BG ==== */
.btn-field.black-bg .btn{
    color: #fff;
    background-color: #333;
}
.btn-field.white-bg .btn{
    border: 1px solid #333;
    background-color: #fff; color: #333;
}

.btn-field.blue-bg .btn{
    background-color: #0046B7; color: #fff;
}
.btn-field.red-bg .btn{
    background-color: #B32225; color: #fff;
}
/* ==== Buttons BG 끝==== */

/* ==== Buttons line ==== */
.btn-field.black-line button{
    color: #fff;
    border: 1px solid #333;
    background-color: #fff;
}
.btn-field.white-line button{
    border: 1px solid #333;
    background-color: #fff; color: #333;
}
.btn-field.blue-line button{
    color: #0046B7;
    border: 1px solid #0046B7;
}
.btn-field.red-line button{
    color: #B32225;
    border: 1px solid #B32225;
}
/* ==== Buttons line 끝==== */

/*==== checked ====*/
.checked__inner {
    
}
.checked__inner label {
    font-size: 1.4rem;
    color: #9e9e9e;
}
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.checked__inner label input{
 
}
.checked__inner label span {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checked__inner label span.radius {
    border-radius: 50%; 
}
input[type="checkbox"] + span::before,
input[type="checkbox"] + span::after {
    content: '';
    display: inline-block;
    left: 0;
    position: absolute;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}

[type="checkbox"]:checked + span:before {
    top: 3px;
    left: 3px;
    width: 2px;
    height: 6px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
} 
[type="checkbox"]:checked + span.black::after {
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    background-color: #333;
    z-index: 0;
}
[type="checkbox"]:checked + span.black.radius::after {
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    background-color: #333;
    z-index: 0;
    border-radius: 50%;
}
[type="checkbox"]:checked + span.blue::after {
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #0046B7;
    background-color: #0046B7;
    z-index: 0;
}
[type="checkbox"]:checked + span.red::after {
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #B32225;
    background-color: #B32225;
    z-index: 0;
}
.checked__inner label span::before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.checked__inner label span::after {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #ddd;
    z-index: 0;
}
.checked__inner label span.radius::after{
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid #ddd;
    z-index: 0;
    border-radius: 50%;
}
/*==== checked 끝====*/


